<section class="mx-1 text-gray-600 body-font relative">
  <div
    class="w-98 sm:w-3/4 lg:w-3/4 xl:w-3/4 2xl:w-2/5 px-1 py-2 mx-auto border border-gray-300 rounded-lg shadow-2xl"
  >
    <div class="flex flex-col text-center w-full mb-1">
      <h1 class="text-base font-bold text-black">Registro de tareas</h1>
    </div>

    <!-- Formulario para añadir tareas -->
    <form
      [formGroup]="taskForm"
      class="row g-3"
      (ngSubmit)="onSubmit()"
      class="lg:w-4/5 mx-auto p-1 sm:p-4"
    >
      <div class="flex flex-wrap -m-2">
        <div class="p-2 w-1/2">
          <div class="relative">
            <label
              for="taskname"
              class="leading-7 text-xs sm:text-sm text-gray-600"
              >Nombre de la tarea</label
            >
            <!-- Campo nombre de la tarea -->
            <input
              type="text"
              id="taskname"
              name="taskname"
              placeholder="Desarrollar App web"
              formControlName="taskname"
              class="w-full sm:text-sm bg-white bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-blue-50 focus:ring-2 focus:ring-indigo-200 text-xs outline-none text-gray-700 py-0 sm:py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            />
          </div>
        </div>

        <div class="p-2 w-1/2">
          <div class="relative">
            <label
              for="deadline"
              class="leading-7 text-xs sm:text-sm text-gray-600"
              >Fecha límite</label
            >
            <!-- Campo fecha límite -->
            <input
              type="date"
              id="deadline"
              name="deadline"
              formControlName="deadline"
              class="w-full sm:text-sm bg-white bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-blue-50 focus:ring-2 focus:ring-indigo-200 text-xs outline-none text-gray-700 py-0 sm:py-0.5 px-3 leading-8 transition-colors duration-200 ease-in-out"
            />
          </div>
        </div>

        <!-- Personas asociadas -->
        <div
          class="w-full bg-gray-100 p-2 relative"
          formArrayName="associatedPersons"
        >
          <div class="flex flex-col text-center w-full mb-4">
            <h2 class="text-sm font-bold text-gray-600">Personas asociadas</h2>
          </div>

          <!-- Iteración según las personas -->
          <div
            *ngFor="let person of associatedPersons.controls; let i = index"
            [formArrayName]="i"
            class="bg-slate-300 m-2 p-2"
          >
            <div
              class="flex flex-row items-center justify-between w-full relative mb-4"
            >
              <!-- Botón para eliminar persona -->
              <div class="absolute top-0 right-0">
                <button
                  type="button"
                  (click)="removePerson(i)"
                  class="bg-gray-600 text-white rounded-full w-8 h-8 flex items-center justify-center"
                >
                  <span class="text-xs">X</span>
                </button>
              </div>
              <h2
                class="flex-grow text-center leading-7 font-bold text-xs sm:text-sm text-gray-600"
              >
                Persona {{ i + 1 }}
              </h2>
            </div>

            <!-- Campo nombre completo y Edad -->
            <div class="flex flex-col md:flex-row items-center justify-center">
              <div class="p-2 w-full md:w-1/2">
                <div class="relative">
                  <label
                    for="fullname"
                    class="leading-7 text-xs sm:text-sm text-gray-600"
                    >Nombre Completo</label
                  >
                  <input
                    type="text"
                    id="fullname"
                    name="fullname"
                    placeholder="José Luis Paternina"
                    formControlName="fullname"
                    class="w-full sm:text-sm bg-white bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-blue-50 focus:ring-2 focus:ring-indigo-200 text-xs outline-none text-gray-700 py-0 sm:py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                  />
                </div>
              </div>
              <div class="p-2 w-full md:w-1/4">
                <div class="relative">
                  <label
                    for="age"
                    class="leading-7 text-xs sm:text-sm text-gray-600"
                    >Edad</label
                  >
                  <input
                    type="number"
                    id="age"
                    name="age"
                    placeholder=">= 18"
                    formControlName="age"
                    class="w-full sm:text-sm bg-white bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-blue-50 focus:ring-2 focus:ring-indigo-200 text-xs outline-none text-gray-700 py-0 sm:py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                  />
                </div>
              </div>
            </div>

            <!-- Habilidades + botón de eliminar habilidad -->
            <div
              formArrayName="skills"
              class="flex flex-col mb-2 px-2 items-center justify-center"
            >
              <div
                *ngFor="let skill of getSkills(i).controls; let j = index"
                class="w-full md:w-1/2 flex items-center"
              >
                <div class="relative flex-grow">
                  <label
                    for="skills-{{ i }}-{{ j }}"
                    class="leading-7 text-xs sm:text-sm text-gray-600"
                    >Habilidad {{ j + 1 }}</label
                  >
                  <input
                    type="text"
                    id="skill-{{ i }}-{{ j }}"
                    placeholder="Escribe una habilidad"
                    [formControlName]="j"
                    class="w-full sm:text-sm bg-white bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-blue-50 focus:ring-2 focus:ring-indigo-200 text-xs outline-none text-gray-700 py-0 sm:py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                  />
                </div>
                <button
                  (click)="removeSkill(i, j)"
                  class="bg-red-500 text-white sm:text-sm text-xs rounded px-3 py-1.5 ml-2 mt-6"
                >
                  Eliminar
                </button>
              </div>
            </div>

            <!-- Botón de agregar nueva habilidad -->
            <div class="flex justify-center">
              <button
                type="button"
                (click)="addSkill(i)"
                [disabled]="!isValidSkill(i)"
                class="text-white sm:text-sm text-xs rounded px-4 py-1
                {{ isValidSkill(i) ? 'bg-blue-500' : 'bg-gray-400' }} "
              >
                Agregar nueva habilidad
              </button>
            </div>
          </div>
        </div>

        <!-- Botón de agregar nueva persona -->
        <div class="w-full p-2 relative">
          <div class="flex justify-center">
            <button
              type="button"
              (click)="addPerson()"
              class="bg-green-500 text-white sm:text-sm text-xs rounded px-4 py-1"
            >
              Agregar nueva persona
            </button>
          </div>
        </div>

        <!-- Botón guardar tarea -->
        <div class="flex flex-row items-center w-full justify-around mt-4">
          <button
            [disabled]="taskForm.invalid"
            type="submit"
            class="text-white bg-gradient-to-r font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 hover:bg-gradient-to-br focus:ring-4 focus:outline-none
            {{
              taskForm.valid
                ? ' from-green-400 via-green-500 to-green-600  focus:ring-green-300 shadow-lg shadow-green-500/50'
                : 'bg-gray-400'
            }}
            "
          >
            Guardar tarea
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
